// Variables

$blue: #36c4f4;
$green: #8cb86c;
$purple: #201644;
$test: rgba(255, 0, 0, 0.3);
$br: 10px;

// Globals

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	transition: all 0.2s linear;
}

html {
	scrollbar-width: thin;
}

body {
	background-color: $purple;
}

#logo-follower {
	position: absolute;
	display: none;
	font-size: 8vw;
	color: white;
	visibility: hidden;
	transition: all 0.5s linear;

	.elum-u {
		width: 4vw;
		margin-right: 0.2vw;
	}

	@media only screen and (max-width: 431px) {
		display: inline;
	}
}

.gradient {
	will-change: transform, width, height, top, right;
	position: fixed;
	right: -50%;
	top: -100%;
	width: 100vw;
	height: 200vh;
	transform: scale(120%);
	border-radius: 100%;
	background: radial-gradient(circle at center, $green 30%, $purple);
	filter: blur(100px);
	animation: glow 3s ease-in-out infinite alternate;
	transition: transform, width, height, top, right 1s linear;
	z-index: -1;

	@media only screen and (max-width: 768px) {
		right: -50%;
		bottom: -100%;
	}

	@media only screen and (max-width: 431px) {
	}

	@keyframes glow {
		0% {
			transform: scale(120%);
		}
		100% {
			transform: scale(140%);
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background: $purple;

	.video-container {
		position: relative;
		width: 70vw;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		.close-video {
			padding-top: 20px;
			color: white;
			cursor: pointer;
			background: $purple;
			display: inline-block;
			font-weight: 500;
		}

		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
			border: 3px solid $purple;
			border-radius: 10px;
		}

		@media only screen and (max-width: 431px) {
			width: 90vw;
		}
	}
}

.sticky-logo {
	position: fixed;
	top: 30px;
	left: 40px;
	width: auto;
	height: auto;
	.elum-u {
		max-width: 40px;
	}
	@media only screen and (max-width: 1000px) {
		top: 2vw;
		left: 3vw;
		.elum-u {
			max-width: 5vw;
		}
	}

	@media only screen and (max-width: 431px) {
		display: none;
	}
}

.first-page {
	.first-page-container {
		position: relative;
		width: 60%;
		height: 100%;
		height: 100vh;
		height: 100dvh;
		height: 100svh;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.first-page-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			flex-shrink: 0;
			.first-page-text-desktop {
				font-size: 5vw;
				color: white;
				margin-bottom: 5vh;
				display: inline;

				.elum-u {
					width: 2.5vw;
					margin-right: 0.2vw;
				}

				.mobile-break {
					display: none;
				}

				#hidden-mobile-logo {
					display: inline;
					@media (min-width: 432px) {
						visibility: visible !important;
					}
				}
			}
			.first-page-subtext-desktop {
				font-size: 2vw;
				font-weight: 500;
				color: white;
			}
		}
		.spacer {
			height: 10%;
			width: 100%;

			flex-grow: 0;
			flex-shrink: 1;
		}
		.icon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			.scroll-icon {
				width: 20px;
				filter: invert(100%);
				cursor: pointer;
			}
		}

		@media only screen and (max-width: 1000px) {
			width: 75%;
			.first-page-text {
				.first-page-text-desktop {
					font-size: 6vw;
					.elum-u {
						width: 3vw;
					}
				}

				.first-page-subtext-desktop {
					font-size: 3vw;
				}
			}
		}

		@media only screen and (max-width: 768px) {
			.first-page-text {
				.first-page-text-desktop {
					font-size: 8vw;
					.mobile-break {
						display: inline;
					}
					.elum-u {
						width: 4vw;
					}
				}

				.first-page-subtext-desktop {
					font-size: 4vw;
				}
			}
		}
	}
}

.second-page {
	.second-page-container {
		position: relative;
		width: 60%;
		height: 100%;
		height: 100vh;
		height: 100dvh;
		height: 100svh;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.tag-and-buttons-container {
			width: 100%;
			display: flex;
			gap: 20px;
			.tag {
				width: 65%;
				flex-grow: 0;
				flex-shrink: 1;
				font-size: 3.4vw;
				color: white;
				padding-bottom: 10px;
				border-bottom: 2px solid white;
			}
			.buttons {
				width: 35%;
				display: flex;
				flex-direction: column;
				gap: 1vh;
				text-align: center;
				.second-page-button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 50%;
					border-radius: 10px;
					font-size: 1.5vw;
					text-decoration: none;
				}
				.blue-button {
					background: $blue;
					color: $purple;
					&:hover {
						color: white;
					}
				}
				.white-button {
					background: transparent;
					border: 2px solid white;
					color: white;
					&:hover {
						background: white;
						color: $blue;
					}
				}
			}
		}

		.launching-container-desktop {
			width: 100%;
			display: flex;
			column-gap: 20px;
			margin-top: 15px;
			.launching-info {
				width: 65%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 10px;
				align-items: center;
				flex-grow: 0;
				flex-shrink: 1;
				font-size: 14px;
				.launching-email {
					color: white;
					&::before {
						content: "";

						display: inline-block;
						width: 16px;
						height: 16px;
						background-image: url("envelope.svg");
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 5px;
						filter: invert(100%);
						transform: translateY(0.4vh);
					}
				}
				.launching-date {
					color: white;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 5px;
					padding: 3px 8px;
				}
			}
			.launching-spacer {
				width: 35%;
			}
		}

		.launching-container-mobile {
			width: 100%;
			display: none;
			column-gap: 20px;
			.launching-info {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 10px;
				align-items: center;
				font-size: 14px;
				.launching-email {
					color: white;

					&::before {
						content: "";
						display: inline-block;
						width: 16px;
						height: 16px;
						background-image: url("envelope.svg");
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 5px;
						filter: invert(100%);
						transform: translateY(0.6vh);
					}
				}
				.launching-info-logo {
					display: none;
				}
				.launching-date {
					color: white;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 5px;
					padding: 3px 8px;
				}
			}
		}

		.asterisk-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			row-gap: 10vh;
			margin-top: 10vh;

			.asterisk-text-container {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				width: 45%;

				.asterisk-text {
					position: relative;
					font-size: 2vw;
					font-weight: 500;
					color: white;
					padding-left: 2vw;

					&::before {
						content: "";
						position: absolute;
						top: 0.5vw;
						left: 0;
						display: inline-block;
						width: 1.5vw;
						height: 1.5vw;
						background-image: url("asterisk-solid.svg");
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 5px;
						filter: invert(100%);
					}
				}
			}
		}

		.tag-and-email-container-mobile {
			display: none;
			flex-direction: column;
			gap: 4vw;
			.tag {
				color: white;
				font-size: 6vw;
			}
			.launching-email {
				color: white;
				font-size: 4vw;
				&::before {
					content: "";

					display: inline-block;
					width: 3.4vw;
					height: 3.4vw;
					background-image: url("envelope.svg");
					background-size: contain;
					background-repeat: no-repeat;
					margin-right: 5px;
					filter: invert(100%);
					transform: translateY(0.6vw);
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			width: 75%;
			.tag-and-buttons-container {
				.tag {
					font-size: 4.3vw;
				}
				.buttons {
					.second-page-button {
						font-size: 2vw;
					}
				}
			}
			.asterisk-container {
				row-gap: 5vh;
				.asterisk-text-container {
					.asterisk-text {
						font-size: 2.6vw;
						padding-left: 2.5vw;

						&::before {
							top: 0.8vw;
							width: 2vw;
							height: 2vw;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 768px) {
			width: 75%;

			.tag-and-buttons-container {
				flex-direction: column;
				gap: 10px;
				.tag {
					font-size: 6.5vw;
					width: 100%;
				}
				.buttons {
					width: 100%;
					flex-direction: row;
					height: 15vw;
					margin-top: 20px;
					.second-page-button {
						font-size: 2.8vw;
					}
				}
			}

			.launching-container-desktop {
				display: none;
			}

			.launching-container-mobile {
				display: flex;
				.launching-info {
					font-size: 12px;
				}
			}

			.asterisk-container {
				margin-top: 3vh;
				.asterisk-text-container {
					width: 47%;
					.asterisk-text {
						font-size: 2.6vw;

						&::before {
							width: 2vw;
							height: 2vw;
							top: 0.7vw;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 431px) {
			row-gap: 3vh;
			.tag-and-buttons-container {
				.tag {
					display: none;
				}
				.buttons {
					flex-direction: column;
					height: auto;
					gap: 5vw;
					.second-page-button {
						font-size: 5vw;
						font-weight: 500;
						height: 15vw;
					}
				}
				.launching-container-mobile {
					border-bottom: 2px solid white;
					.launching-email {
						display: none;
					}
					.launching-info-logo {
						display: inline;
						font-size: 8vw;
						color: white;
						visibility: hidden;

						.elum-u {
							width: 4vw;
							margin-right: 0.2vw;
						}
					}
				}
			}

			.asterisk-container {
				margin-top: 0;
				row-gap: 6vw;
				.asterisk-text-container {
					width: 100%;
					.asterisk-text {
						font-size: 5.2vw;
						padding-left: 5vw;

						&::before {
							width: 4vw;
							height: 4vw;
							top: 1.4vw;
						}
					}
				}
			}

			.tag-and-email-container-mobile {
				display: flex;
			}
		}
	}
}
