---
import "../styles/index.scss";
//import { initFullPage } from "fullPage-init.js";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="fullpage.min.css" />
		<script type="text/javascript" src="fullpage.min.js"></script>

		<title>Elum | Training + Development</title>
	</head>
	<body>
		<div id="fullpage">
			<div class="gradient"></div>
			<div class="modal">
				<div class="video-container">
					<iframe
						src="https://www.youtube.com/embed/fUZQuI5JRyY"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
					<p class="close-video">back to elum</p>
				</div>
			</div>
			<div class="sticky-logo">
				<img src="elum-u.png" alt="elum u" class="elum-u" />
			</div>
			<section class="first-page section">
				<div class="first-page-container">
					<div class="spacer"></div>
					<div class="first-page-text">
						<h1 class="first-page-text-desktop logo">
							el<img src="elum-u.png" alt="elum u" class="elum-u" />m is a
							virtual <br /> training <br class="mobile-break" /> development <br
							/> and deployment
							<br />
							platform.
						</h1>
						<h2 class="first-page-subtext-desktop">
							it teaches you to do <br /> a complicated thing clearly.
						</h2>
					</div>
					<div class="spacer icon-container">
						<img
							class="scroll-icon"
							src="scroll-down.svg"
							alt="scroll-down-icon"
						/>
					</div>
				</div>
			</section>

			<section class="second-page section" data-anchor="second-page-anchor">
				<div class="second-page-container">
					<div class="tag-and-buttons-container">
						<h2 class="tag">knowledge is a right.<br />stay eluminated.</h2>
						<div class="launching-container-mobile">
							<div class="launching-info">
								<a href="mailto:#" class="launching-email"
									>info@elumplatform.com</a
								>
								<h1 class="launching-info-logo logo">
									el<img src="elum-u.png" alt="elum u" class="elum-u" />m
								</h1>
								<span class="launching-date">launching 2024</span>
							</div>
						</div>
						<div class="buttons">
							<a
								href="javascript:void(0)"
								class="second-page-button blue-button video-button"
								>watch the video</a
							>
							<a
								href="/TV - elum WHITE PAPER ver 1.3.pdf"
								target="_blank"
								rel="noopener noreferrer"
								class="second-page-button white-button">view the white paper</a
							>
						</div>
					</div>
					<div class="launching-container-desktop">
						<div class="launching-info">
							<a href="mailto:#" class="launching-email"
								>info@elumplatform.com</a
							>
							<span class="launching-date">launching 2024</span>
						</div>
						<div class="launching-spacer"></div>
					</div>
					<div class="asterisk-container">
						<div class="asterisk-text-container">
							<p class="asterisk-text">learn anywhere, anytime, step-by-step</p>
						</div>
						<div class="asterisk-text-container">
							<p class="asterisk-text">
								get efficient at a new skill quickly & safely
							</p>
						</div>
						<div class="asterisk-text-container">
							<p class="asterisk-text">
								save money training yourself, and others, up
							</p>
						</div>
						<div class="asterisk-text-container">
							<p class="asterisk-text">
								visualize it all in precise 3D & video
							</p>
						</div>
					</div>
					<div class="tag-and-email-container-mobile">
						<h2 class="tag">knowledge is a right.<br />stay eluminated.</h2>
						<a href="mailto:#" class="launching-email">info@elumplatform.com</a>
					</div>
				</div>
			</section>
		</div>
		<script>
			// Init fullPage.js
			new fullpage("#fullpage", {
				licenseKey: "NLNLI-982P9-87SIK-FNMH9-XJBUM",
				autoScrolling: true,
				scrollHorizontally: true,
				fixedElements: ".sticky-logo, .gradient, .modal",
				credits: {
					enabled: false,
				},
			});

			// Scroll button
			document
				.querySelector(".scroll-icon")
				.addEventListener("click", function () {
					fullpage_api.moveTo("second-page-anchor");
				});

			// Video modal
			document
				.querySelector(".video-button")
				.addEventListener("click", function () {
					document.querySelector(".modal").style.display = "flex";
				});

			document
				.querySelector(".close-video")
				.addEventListener("click", function () {
					document.querySelector(".modal").style.display = "none";
				});
		</script>
	</body>
</html>
