---
import "../styles/index-copy.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<!-- <script
			defer
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
		></script>
		<script
			defer
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
		></script> -->
		<title>Elum | Training + Development</title>
	</head>
	<body>
		<div class="gradient"></div>
		<section class="header" id="header">
			<img src="elum_logo_trimmed.png" alt="elum-badge" />
		</section>
		<section id="mobile-header">
			<img id="mobile-logo-sticky" src="elum.svg" alt="elum-badge" />
		</section>
		<div class="snap-scroll-container">
			<section class="splash">
				<div class="splash-container">
					<div class="splash-text">
						<h1 class="text-desktop">
							el<img src="elum-u.png" alt="elum u" />m is a virtual <br /> training
							development <br /> and deployment <br />
							platform.
						</h1>
						<h1 class="text-tablet">
							el<img src="elum-u.png" alt="elum u" />m is a virtual <br /> training
							development <br /> and deployment <br />
							platform.
						</h1>
						<h1 class="text-mobile">
							el<img src="elum-u.png" alt="elum-u" />m is a virtual <br /> training
							<br /> development <br /> and deployment <br />
							platform.
						</h1>
						<!-- <img id="mobile-logo-marker" src="elum.svg" alt="full-elum-logo" />
						<h1 class="text-mobile fade-out">
							is a virtual
							<br /> training <br /> development <br /> and deployment <br />
							platform.
						</h1> -->
						<h2 class="fade-out">
							it teaches you to do <br /> a complicated thing clearly.
						</h2>
					</div>
					<div class="icon-container fade-out">
						<img
							class="splash-scroll"
							src="scroll-down.svg"
							alt="scroll-down-icon"
						/>
					</div>
				</div>
			</section>
			<section class="information">
				<div class="information-container">
					<div class="knowledge">
						<div class="knowledge-text">
							<h1>knowledge is a right.</h1>
							<h1>stay eluminated.</h1>
							<div class="contact">
								<div class="email">
									<img src="envelope.svg" alt="email-icon" />
									<a href="mailto:info@elumplatform.com"
										>info@elumplatform.com</a
									>
								</div>
								<h1 class="text-mobile">
									el<img src="elum-u.png" alt="elum-u" />m
								</h1>
								<span class="glass" id="launching">launching 2024</span>
							</div>
						</div>
						<div class="knowledge-buttons">
							<a href="#" class="button blue-button">watch the video</a>
							<a href="#" class="button clear-button">view the white paper</a>
						</div>
					</div>
					<div class="cards-container">
						<div class="card">
							<span class="asterisk">*</span>
							<h2>learn anywhere, anytime, step-by-step</h2>
						</div>

						<div class="card">
							<span class="asterisk">*</span>
							<h2>save money training yourself, and others, up</h2>
						</div>
						<div class="card">
							<span class="asterisk">*</span>
							<h2>get efficient at a new skill quickly & safely</h2>
						</div>

						<div class="card">
							<span class="asterisk">*</span>
							<h2>visualize it all in precise 3D & video</h2>
						</div>
					</div>
					<div class="mobile-info-container">
						<h1>knowledge is a right.</h1>
						<h1>stay eluminated.</h1>
						<div class="email">
							<img src="envelope.svg" alt="email-icon" />
							<a href="mailto:info@elumplatform.com">info@elumplatform.com</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- <script type="module">
			import fadeOut from "/fade.js";
			window.onload = fadeOut;
		</script> -->
		<script>
			const snapScrollContainer = document.querySelector(
				".snap-scroll-container"
			);
			const splashSection = document.querySelector(".splash");
			const informationSection = document.querySelector(".information");

			snapScrollContainer.addEventListener("scroll", () => {
				// Calculate the top and bottom of the splash section relative to the scroll container
				const splashTop =
					splashSection.getBoundingClientRect().top -
					snapScrollContainer.getBoundingClientRect().top;
				const splashBottom = splashTop + splashSection.offsetHeight;

				// Calculate the top and bottom of the information section relative to the scroll container
				const infoTop =
					informationSection.getBoundingClientRect().top -
					snapScrollContainer.getBoundingClientRect().top;
				const infoBottom = infoTop + informationSection.offsetHeight;

				// Determine the condition for changing the opacity of the splash section
				if (splashBottom < splashSection.offsetHeight / 1.5) {
					splashSection.style.opacity = "0";
				} else {
					splashSection.style.opacity = "1";
				}

				// Determine the condition for changing the opacity of the information section
				if (
					infoBottom >
					snapScrollContainer.offsetHeight + informationSection.offsetHeight / 3
				) {
					informationSection.style.opacity = "0";
				} else {
					informationSection.style.opacity = "1";
				}

				// Determine the condition for changing the scroll-snap-type of the scroll container
				if (infoTop < 0) {
					snapScrollContainer.style.scrollSnapType = "none"; // Disable scroll snapping
				} else {
					snapScrollContainer.style.scrollSnapType = "y mandatory"; // Enable scroll snapping
				}
			});
		</script>
	</body>
</html>
