---
import "../styles/index.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<title>Elum | Training + Development</title>
	</head>
	<body>
		<div class="gradient"></div>
		<section class="header">
			<img src="elum_logo_trimmed.png" alt="elum-badge" />
		</section>
		<section class="splash">
			<div class="splash-container">
				<div class="splash-text">
					<h1 class="text-desktop">
						el<img class="test" src="elum-u.png" alt="test" />m is a virtual <br
						/> training development <br /> and deployment <br />
						platform.
					</h1>
					<h1 class="text-mobile">
						el<img class="test" src="elum-u.png" alt="test" />m is a virtual <br
						/> training <br /> development <br /> and deployment <br />
						platform.
					</h1>
					<h2>it teaches you to do <br /> a complicated thing clearly.</h2>
				</div>
				<div class="icon-container">
					<img
						class="splash-scroll"
						src="scroll-down.svg"
						alt="scroll-down-icon"
					/>
				</div>
			</div>
		</section>
		<section class="information">
			<div class="information-container">
				<div class="knowledge">
					<div class="knowledge-text">
						<h1>knowledge is a right.</h1>
						<h1>stay eluminated.</h1>
						<div class="contact">
							<div class="email">
								<img src="envelope.svg" alt="email-icon" />
								<a href="mailto:info@elumplatform.com">info@elumplatform.com</a>
							</div>
							<span class="glass">launching 2024</span>
						</div>
					</div>
					<div class="knowledge-buttons">
						<a href="#" class="button blue-button">watch the video</a>
						<a href="#" class="button clear-button">view the white paper</a>
					</div>
				</div>
				<div class="cards-container">
					<div class="card">
						<h2>
							<span class="asterisk">*</span> learn anywhere, anytime, step-by-step
						</h2>
					</div>
					<div class="spacing-card"></div>
					<div class="card">
						<h2>
							<span class="asterisk">*</span> save money training yourself, and others,
							up
						</h2>
					</div>
					<div class="card">
						<h2>
							<span class="asterisk">*</span> get efficient at a new skill quickly
							& safely
						</h2>
					</div>
					<div class="spacing-card"></div>
					<div class="card">
						<h2>
							<span class="asterisk">*</span> visualize it all in precise 3D & video
						</h2>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
